name: "Roam Research backup"

on:
  push:
    branches:
      - main
  schedule:
      - cron: "0 */12 * * *"

jobs:
  backup:
    runs-on: ubuntu-latest
    name: Backup
    timeout-minutes: 30
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.BACKUP_REPO }}
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Run Backup
        run: |
          cd /tmp
          git clone -q https://github.com/sc0ttwad3/roam2github.git roam2github
          cd roam2github
          npm i
          npm run backup -s
        env:
          ROAM_EMAIL: ${{ secrets.ROAM_EMAIL }}
          ROAM_PASSWORD: ${{ secrets.ROAM_PASSWORD }}
          ROAM_GRAPH: ${{ secrets.ROAM_GRAPH }}
          BACKUP_EDN: false
          BACKUP_JSON: true
          BACKUP_MARKDOWN: true
          BACKUP_MSGPACK: true
          MD_REPLACEMENT: _

      - name: Commit Changes
        uses: everruler12/git-auto-commit-action@v4
        with:
          commit_message: Automatic backup

